  body {
      text-align: center;
      background-color: darkslategray;
      max-width: 100%;
      max-height: 100%;
  }

  header {
      background-image: url(Logos/bvgr.jpg);
      border: 2px solid yellow;
      border-radius: 10px;
      height: 650px;
      max-width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding: 10px;
  }


  main {
      border: 2px solid yellow;
      border-radius: 10px;
      height: inherit;
      padding: 10px;
  }

  footer {
      border: 2px solid yellow;
      height: 400px;
      border-radius: 10px;
      padding: 10px;
  }

  hr {
      border: 2px solid red;
      border-radius: 10px;
  }

  img {
      border: 2px solid red;
      border-radius: 10px;
  }

  h1,
  h2 {
      font-size: 35px;
      color: white;
      text-align: center;
      padding: 30px;
      letter-spacing: normal;
      word-spacing: normal;
  }

  .icons img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      margin: 5px;
      border-radius: 8px;
      transition: transform 0.2s;
  }

  .icons img:hover {
      transform: scale(1.1);
  }

  img:hover {
      transform: scale(1.1);
  }

  img {
      transition: transform 0.3s ease;
  }

  .image-container {
      position: relative;
      display: inline-block;
  }

  .image-container img {
      width: 100%;
      height: auto;
  }

  .image-container .overlay-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 24px;
      font-weight: bold;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
      text-align: center;
  }

  .divisions-border {
      border: 2px solid yellow;
      border-radius: 10px;

  }

  .divisions img {
      width: 340px;
      height: 340px;
      object-fit: cover;
      margin: 5px;
      border-radius: 8px;
      transition: transform 0.2s;
  }
